.blue{
  width: :100px;
  height: 100px:
  background-color:Blue;
  float:left;
}

.yellow{
  width: :100px;
  height: 100px:
  background-color:yellow;
  float:left;
}

.green{
  width: :200px;
  height: 200px:
  background-color:green;
  float:left;
}
